@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */


body{
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/303/603/non_2x/vector-kids-playing-on-playground.jpg");
  background-size: 100%;
}
main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center ;
 
}
.container{
  display: flex;
  justify-content: space-between ;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  
  width: 40%;
  height: 50%;
  background-color: rgba(240, 255, 255, 0.752);
  border-radius: 1rem;

}
.word-btn-container{

  display: flex;
  justify-content: space-between;
}


.func-btn-container{

  display: flex;
  justify-content: space-around;
}

.content{
  text-align: center;
  font-size: 3rem;
  color: red;
}
.btn-func{
  width: 5rem;
  height: 3rem;
  border-radius: 2rem;
}
.btn-word{
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 2.2rem;
  border: 1px solid black;
}

.btn-one{
  color: white;
  background-color: rgb(201, 64, 201);
}

.btn-two{
  color: white;
  background-color: rgb(79, 183, 225);
}

.btn-three{
  color: white;
  background-color: rgb(116, 230, 116);
}

.btn-four{
  color: white;
  background-color: rgb(250, 132, 85);
}

.btn-five{
  color: white;
  background-color: rgb(250, 159, 173);
}

.speak{
  color: white;
  background-color: rgb(0, 224, 224);
}

.surprise{
  color: white;
  background-color: rgb(247, 43, 43);
}

.clear{
  color: white;
  background-color: rgb(26, 24, 24);
}